<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="gvapp.diplomprojekt.at.gv_appandroid">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:screenOrientation="portrait"
        android:supportsRtl="false"
        android:theme="@style/AppThemeNeuigkeiten">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppThemeNeuigkeiten.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Ernaehrung.Rezepte.Details.RezepteDetailActivity"
            android:label="@string/title_activity_rezepte_detail_ansicht"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppThemeErnaehrung">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="gvapp.diplomprojekt.at.gv_appandroid.MainActivity" />
        </activity>
        <activity
            android:name=".Ernaehrung.Restaurants.Details.RestaurantDetailActivity"
            android:label="@string/title_activity_rezepte_detail_ansicht"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppThemeErnaehrung">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="gvapp.diplomprojekt.at.gv_appandroid.MainActivity" />
        </activity>
        <activity
            android:name=".Gesundheit.Details.AerzteDetailActivity"
            android:label="@string/title_activity_aerzte_detail"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppThemeGesundheit">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="gvapp.diplomprojekt.at.gv_appandroid.MainActivity" />
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyD4s85XcK5hio9lyxy3mJGQH9Lnu6Oayng" />

        <activity
            android:name=".Ernaehrung.Diaeten.Details.DiaetenDetailActivity"
            android:label="@string/title_activity_diaeten_detail"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppThemeErnaehrung">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="gvapp.diplomprojekt.at.gv_appandroid.MainActivity" />
        </activity>
        <activity
            android:name=".Neuigkeiten.Details.NeuigkeitenDetailActivity"
            android:label="@string/title_activity_neuigkeiten_detail"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppThemeNeuigkeiten.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="gvapp.diplomprojekt.at.gv_appandroid.MainActivity" />
        </activity>
        <activity
            android:name=".Sport.Sportstaetten.Details.SportstaettenDetailActivity"
            android:label="@string/title_activity_sportstaetten_detail"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppThemeSport">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="gvapp.diplomprojekt.at.gv_appandroid.MainActivity" />
        </activity>

        <receiver android:name=".Ernaehrung.Trinkerinnerung.AlarmManagerBroadcastReciever"></receiver>
    </application>

</manifest>
